.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 25rem;
	max-width: 96%;
	max-height: 100vh;
	background-color: #f7f7f7;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin: auto;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #66676c;
	padding: 1.2rem 2.5rem;
	margin-bottom: 1rem;
}

.header h2 {
    text-align: center;
    margin: 0;
    color: #fff;
}

.form {
	padding: 0 2.5rem;	
}
  
.formControl {
	padding-bottom: 1.2rem;
}

.formControl label {
	display: inline-block;
}

.formControl input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 0.9rem;
	padding: 0.7rem;
	width: 100%;
}

.formControl input:focus {
	outline: 0;
	border-color: #777;
}

.buttonBlock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 12%;
	border-top: 1px solid #f0f0f0;
}

.buttonBlock button {
	width: 5rem;
	color: #fff;
	background-color: #66676c;
	border: none;
	border-radius: 4px;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.6rem 0.5rem;
	margin: 1rem;
  	cursor: pointer;
}

.buttonBlock button:hover {
	background-color: #4b4c50;
}

.buttonBlock button:focus {
	outline: none;
}

.buttonBlock a {
	color: #fff;
	text-decoration: none;
}