.user {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 12rem;
	max-width: 96%;
	padding: 1rem;
	border-radius: 5px;
}

.user:hover {
	background: rgba(0,0,0,0.05);
	cursor: pointer;
}

.userImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.userDetails {
	text-overflow: ellipsis;
	overflow: auto;
	word-wrap: break-word;
	padding: 0 0 0 1rem;
	margin: 0;
    font-size: 1rem;
}

.userDetails p {
	text-align: center;
}