.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: #f7f7f7;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 25rem;
	max-width: 96%;
	margin: auto;
	max-height: 100vh;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #66676c;
	padding: 1.2rem 2.5rem;
}

.header h2 {
    text-align: center;
    margin: 0;
    color: #fff;
}

.form {
	padding: 1.9rem 2.5rem;	
}

.formControl {
	margin-bottom: 0.7rem;
	padding-bottom: 1.2rem;
	position: relative;
}

.formControl label {
	display: inline-block;
	margin-bottom: 5px;
}

.formControl input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 0.9rem;
	padding: 0.7rem;
	width: 100%;
}

.formControl input:focus {
	outline: 0;
	border-color: #777;
}

.formControl small {
	color: #e74c3c;
	position: absolute;
	bottom: -0.5rem;
	left: 1rem;
	font-size: 0.9rem;
	font-weight: bold;
}

.submitBtn {
	color: #fff;
	background-color: #66676c;
	border: none;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.8rem;
	margin-top: 1.2rem;
	width: 100%;
  	cursor: pointer;
}

.submitBtn:hover {
  	background-color: #4b4c50;
}

.submitBtn:focus {
  	outline: none;
}

.form p {
	text-align: center;
	margin-top: 1rem;
}
        
.form a {
	color: #4a5db1;
	font-weight: bold;
	cursor: pointer;
	padding-left: 1rem;
}
        
.form a:hover {
	color: black;
}